 <!--Footer-->

 <footer>
    <div class="container">
        <div class="footer-links">
            <a href="/sobre/#termosDeUso">Termos de Uso</a>
            <a href="/sobre/#dmca">DMCA</a>
            <a href="sobre/">Contato</a>
            <a href="/sobre/#anuciosCookies">Anúncios e Cookies de Terceiros</a>
        </div>
        <h1>SHOTFLIX - Assista Filmes Online em HD totalmente de graça.</h1>
        <p>Shotflix é um site para assistir filmes online totalmente de graça. Nosso site é apenas um indexador de conteúdos encontrado na web através de buscares como Google, Bing, Yahoo!,  Duck Duck Go, etc... Nenhum filme ou imagem aqui indexado é armazenado ou distribuído pelo nosso site. Não temos nenhuma relação com os autores das paginas aqui indexada através de embed. Qualquer violação de direitos autorais, entre em contato com o distribuidor de tal conteúdo. Qualquer reclamação referente ao conteúdo, ou duvida, entrar em contato através do nosso instagram. Estamos dispostos a resolver qualquer reclamação de maneira amigável ;)</p>
    </div>
    <span class="copy">Shotflix &copy; 2021 Todos os direitos reservados.</span>
 </footer>

<!--Fim Footer-->