<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600|Source+Sans+Pro:300,400,500,600,700|Rubik:400,600,700">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Assistir {{ page.title }} Online {{ page.audio }} - Shotflix</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/jquery.js"></script>
</head>